extends base.pug

block content 
    video(src="/" + video.fileUrl, controls)
    div 
        div
        button#play Play
        button#mute Mute
        input(type="range",step="0.1", value=0.5,min="0", max="1")#volume
        span#time 00:00/00:00

    
block scripts 
    script(src="/static/js/videoPlayer.js")